extends layout

block content

    div.back-link-container
        a.link-back(href="/") Back

    h1.heading-large Activity Log

    table
        thead
            tr
                th Timestamp
                th User
                th Action
                th Info
        tbody
            each row in report
                tr
                    td #{moment(row.timestamp).format('DD/MM/YYYY - HH:mm')}
                    td #{row.user}
                    td #{row.action}
                    td #{JSON.stringify(row.details)}


    br
    br
    a#backBtn.requiredButton.button.button(href="/" role="button") Back
    br
    br
