extends layout

block content

    h1#pageHeading.heading-large Batch Jobs

        table
            thead
                tr
                    th Name
                    th Date
                    th User
                    th Status
                    th
            tbody
                each job in jobs
                    tr
                        td #{job.FILENAME.value}
                        td #{job.TIMESTAMP.value}
                        td #{job.USERID.value}
                        td #{job.STATUS.value}
